.login {
    display: grid;
    place-items: center;
    height: 100vh;
    /* placeholder background until we get a blurred image maybe? */
    background: #212121;
}

.login>div>img {
    object-fit: contain;
    height: 150px;
    max-width: 200px;
}

.login>div {
    display: flex;
    flex-direction: column;
}

.login>button {
    width: 300px;
    background-color: #0f6604;
    color: white;
    font-weight: 800;
    border-radius: 25px;
}

.login>button:hover {
    background-color: white;
    color: #3aff3a;
}