.footer {
    padding-top: 25px;
    background: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
    
  .footer span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;
    background: #3DA5D9;
  }